@{
    ViewData["Title"] = "Home Page";
}

<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Nuestro plato especial</span>
                    <h3>Salchipapa Clasica</h3>
                    <p>Plato de papas y salchichas fritas, que se puede acompañar con mayonesa, salsa de tomate u otro tipo de salsas.</p>
                    <a href="#" class="btn">Ordenar ahora</a>
                </div>
                <div class="image">
                    <img src="images/dish-1.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Nuestro plato especial</span>
                    <h3>Hamburguesa de Pollo</h3>
                    <p>Las hamburguesas de pollo están hechas de carne de pollo, junto con las más exquisitos ingredientes peruanos.</p>
                    <a href="#" class="btn">Ordenar ahora</a>
                </div>
                <div class="image">
                    <img src="images/home-img-3.png" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Nuestro plato especial</span>
                    <h3>Pizza Clasica</h3>
                    <p>Con su corteza crujiente, su sabrosa salsa de tomate y su pegajoso queso mozzarella , esta pizza es un verdadero deleite para el público.
</p>
                    <a href="#" class="btn">Ordenar ahora</a>
                </div>
                <div class="image">
                    <img src="images/salchipapa.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- home section ends -->

<!-- dishes section starts  -->

<section class="dishes" id="dishes">

    <h3 class="sub-heading"> Nuestros platos </h3>
    <h1 class="heading"> Platos populares </h1>

    <div class="box-container">

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/hot-dog-hawaiano.png" alt="">
            <h3>Hot Dog Hawaiano</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
            
=======
            <span>S/.5.50</span>
          
>>>>>>> origin/Diseño---Home
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/menu-2.jpg" alt="">
            <h3>Hamburguesa de Carne</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
            
=======
            <span>S/.6.00</span>
           
>>>>>>> origin/Diseño---Home
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/dish-3.png" alt="">
            <h3>Pollo Clasico</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
            
=======
            <span>S/.25.00</span>
         
>>>>>>> origin/Diseño---Home
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/dish-4.png" alt="">
            <h3>Pizza Clasica</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
            
=======
            <span>S/25.00</span>
           
>>>>>>> origin/Diseño---Home
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/dish-5.png" alt="">
            <h3>Helado</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
            
=======
            <span>S/.10.00</span>
           
>>>>>>> origin/Diseño---Home
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="images/dish-6.png" alt="">
            <h3>Pollo Broaster</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
<<<<<<< HEAD
            
=======
            <span>S/.20.00</span>
>>>>>>> origin/Diseño---Home
            
        </div>

    </div>

</section>

<!-- dishes section ends -->
